name: CI

on:
  push:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: "-D warnings"
  RUST_LOG: "certonaut=debug,info"

jobs:
  build:
    name: Build & Test
    runs-on: ${{ matrix.runs_on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runs_on: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            artifact: certonaut-linux-x64
            ext: ""
          - runs_on: ubuntu-22.04-arm
            target: aarch64-unknown-linux-gnu
            artifact: certonaut-linux-arm64
            ext: ""
          - runs_on: windows-latest
            target: x86_64-pc-windows-msvc
            artifact: certonaut-windows-x64
            ext: ".exe"

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Add Rust target
      run: rustup target add ${{ matrix.target }}

    - name: Install native deps (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install --yes --no-install-recommends clang build-essential autoconf autopoint flex bison gawk make pkg-config

    - name: Rust Cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ matrix.target }}-${{ hashFiles('**/Cargo.lock') }}

    - name: Run cargo check
      run: cargo check --locked --all-features --target ${{ matrix.target }}

    - name: Run cargo fmt
      run: cargo fmt --check

    - name: Build (release)
      run: cargo build --locked --all-features --target ${{ matrix.target }} --release

    - name: Run tests
      # Limit the tests to Linux x64 for now, they're a bit broken on other platforms
      if: matrix.target == 'x86_64-unknown-linux-gnu'
      run: cargo test --locked --all-features

    - name: Run Integration Tests
      if: matrix.target == 'x86_64-unknown-linux-gnu'
      run: sudo -E env "PATH=$PATH" cargo test --locked --all-features -- --ignored

    - name: Upload built binary
      uses: actions/upload-artifact@v5
      with:
        name: ${{ matrix.artifact }}
        path: target/${{ matrix.target }}/release/certonaut${{ matrix.ext }}
